@import "./utils/_variables.scss";
@import "./utils/mixins.scss";
//BODY
body{
    margin: auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
    a{
        width: 100%;
        height: 100%;
        text-decoration: none;
        color: black;
    }
}
// HEADER
.header{
    text-align: center;
    h1{
        font-family: "shrikhand";
        font-size: 35px;
        letter-spacing: 0.08rem;
        margin: 20px 0 5px 0;
    }
    &__arrow{
        position: absolute;
        width: 20px;
        height: 30px;
        left: 20px;
        top: 35px;
        a{
        color: black;
        }
    }
}
// MAIN
.place{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #EAEAEA;
    height: 48px;
    font-size: 15px;
    font-weight: 600;
    .fas.fa-map-marker-alt{
        font-size: 18px;
        margin:0 25px 7px 0px;
    }
    p{
        margin: 0;
        letter-spacing: 0.08rem;
    }
}
.info{
    background-color: #F6F6F6;
    padding-top: 40px;
    text-align: center;
    h2{
        font-size: 24px;
        font-weight: 900;
        margin: 0px 70px 0 60px;}
    p{
        margin: 20px 30px 35px 35px;
        font-size: 17px;
    }
}
.btn{
    text-align: center;
    padding-top: 40px;
    &__gradient{
        width: 220px;
        height: 50px;
        border: unset;
        background:linear-gradient(to top,$clr-primary,$clr-secondary);
        box-shadow: 0.2rem 0.2rem 1rem rgb(180, 177, 177);
        color: $clr-text-btn;
        border-radius: 2rem;
        font-size: 16px;
        font-weight: 500;
        letter-spacing: 0.01rem;
        margin-bottom: 55px;
    }
}
.function{
    justify-content: center;
    padding: 40px 0;
    h2{
        // text-align: center;
        margin-left: 20px;}
    &__choice{
    display: flex;
    align-items: center;
    flex-direction: column;}
}
.function__btn{
    position: relative;
    justify-items: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    box-shadow: 0.2rem 0.2rem 1rem rgb(180, 177, 177);
    background-color:#F6F6F6;
    margin: 15px 0;
    border-radius: 1.5rem;
    height: 75px;
    width: 325px;
    &:hover{
        background-color:lighten($clr-primary,36);
        cursor: pointer;
        i{
            color: $clr-primary;
        }
    }
    p{
        font-size: 16px;
        font-weight: bolder;
    }
    span{
        position: absolute;
        left: -15px;
        padding: 5px 10px;
        border-radius: 3rem;
        background-color: $clr-primary;
        color: $clr-text-btn;}
    i{
        color: gray;
        margin:0 25px 0 30px;
        size: 30px;
    }
}
.restaurant{
    justify-content: center;
    background-color: #F6F6F6;
    padding: 40px 0;
    h2{
        margin-left: 15px;
    }
    &__conteiner{
        align-items: center;
    }
}
.card{
    position:relative;
    width: 335px;
    height: 250px;
    border-radius:1rem;
    box-shadow: 0.2rem 0.2rem 0.5em rgb(180, 177, 177);
    margin: 15px 15px;
    .far.fa-heart{
        position: absolute;
        right: 35px;
        bottom: 20px;
    }
    &__img{
        position: relative;
        width: 100%;
        height: 175px;
        img{
        width: 100%;
        height: 100%;
        border-radius: 1rem 1rem 0 0;
        object-fit: cover;
        }
        .new{
            position: absolute;
            top: 15px;
            right: 10px;
            text-align: center;
            width: 80px;
            height: 30px;
            background-color: $clr-tertiary;
            border-radius: 0.2rem;
            p{
                color: darken($clr-tertiary, 40);
                font-size: 14px;
                font-weight: 600;
                margin: 7px;
            }
        }
    }
    &__info{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 20%;
        margin-left: 10px;
        h3{
            margin-bottom: 5px;
        }
        p{
            margin-top: 0;
        }
    }
}
//FOOTER
footer{
    background-color: #353535;
    color: $clr-text-btn;
    padding-bottom: 30px;
    h3{
        font-family: "shrikhand";
        letter-spacing: 0.09rem;
        margin-left: 15px;
    }
    a{
        text-decoration: none;
        color: $clr-text-btn;
        margin:40px 0 0 15px;
    }
    .propose{
        display: flex;
        align-items: center;
        i{
            margin: 0 15px 0 15px;
        }
        p{
            margin: 0;
        }
    }
    .partenaire{
        display: flex;
        align-items: center;
        margin-top: 10px;
        i{
            margin: 0 13px 0 15px;
        } 
        p{
            margin: 0;
        }
    }
    p{
        margin: 10px 0 10px 15px;
    }
}

//Menu

.menucontainer__img{
    width: 100%;
    height: 280px;
    img{
        position: re;
        width: 100%;
        height: 100%;
        object-fit:cover;
    }
}
.menu{
    position: relative;
    background-color: #F6F6F6;
    margin-top: -45px;
    border-radius: 3rem 3rem 0 0;
    &__title{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    h1{
        font-family: "shrikhand";
        font-size: 28px;
        margin: 35px 0 10px 20px;
    }
    i{
        margin-top: 25px;
        margin-right: 35px;
    }
}
.submenu__title{
    color: #404040;
    font-weight: unset;
    margin-left: 20px;
    text-transform: uppercase;
    position: relative;
    &::after{
        content: "";
        width: 40px;
        height: 3px;
        background-color: $clr-tertiary;
        position: absolute;
        left: 0;
        bottom: -7px;
    }
}
.cardmenu{
    width: 350px;
    height: 70px;
    margin:15px 0px 0px 15px;
    box-shadow: 0.2rem 0.2rem 1rem rgb(180, 177, 177);
    border-radius: 1rem;
    h3{
        margin: 0 0 0 10px;
    }
    &__link{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    &__info{
        display: flex;
        justify-content: space-between;
        p{
            color: #404040;
            font-size: 15px;
            margin: 0 0 0 10px;
        }
        span{
            font-size: 15px;
            font-weight: bolder;
            margin-right: 20px;
        }
    }   
}