// Card restaurant :main page
.card{
    position:relative;
    width: 100%;
    height: 250px;
    border-radius:1rem;
    margin: 15px 15px;
    cursor: pointer;
    background-color: #fff;
    @include shadow;
    @include mobile-down{
        width: 45%;
    }
    &__info{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 20%;
        h3{
            margin-bottom: 5px;
            margin-left: 10px;
        }
        p{
            margin-top: 0;
            margin-left: 10px;
        }
    }
    &__img{
        position: relative;
        width: 100%;
        height: 175px;
        img{
            width: 100%;
            height: 100%;
            border-radius: 1rem 1rem 0 0;
            object-fit: cover;
        }
    }
    &__link{
        z-index: 10;
        
    }
}


// (New) menu animation
.new{
    position: absolute;
    top: 15px;
    right: 10px;
    text-align: center;
    width: 80px;
    height: 30px;
    background-color: $clr-tertiary;
    border-radius: 0.2rem;
    opacity: 1;
    animation: new 2000ms  0s infinite alternate-reverse;
    p{
        color: darken($clr-tertiary, 30);
        font-size: 14px;
        font-weight: 600;
        margin: 7px;
    }
}

// Card menu :menu page

.cardmenu{
    width: 90%;
    height: 70px;
    background-color: #fff;
    margin:15px 15px 0px 15px;
    border-radius: 1rem;
    overflow: hidden;
    opacity: 0;
    @include shadow;
    @include desktop{
        width: 30%;
    }
    h3{
        width: 100%;
        margin: 0 0 0 10px;
        @include txt-hidden;
        transition: width 600ms ease-in-out;
    }
    &__link{
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        z-index: 1;
    }
    &__info{
        display: flex;
        justify-content: space-between;
        p{
            width: 100%;
            color: #404040;
            font-size: 15px;
            margin: 0 0 0 10px;
            @include txt-hidden;
            transition: width 600ms ease-in-out;
        }
        span{
            display: inline-block;
            font-size: 15px;
            font-weight: bolder;
            margin-right: 20px;
            transition: transform 600ms ease-in-out;
        }
    }   
}
// Card menu (Appears) command animation
.order{
    position: absolute;
    right:-65px;
    display: flex;
    justify-content: center;
    text-align: center;
    width: 60px;
    height: 70px;
    background: $clr-tertiary;
    box-shadow: 0px 0px 5px #404040;
    border-radius: 0 0.9rem 0.9rem 0;
    transform-origin: right;
    transition: transform 600ms ease-in-out;
    &__checked{
        margin: auto;
        color: $clr-text-btn;
        font-size: 22px;
        transition: transform 600ms ease-in-out;
    }
}
.cardmenu:hover{
    .order, span{
        transform: translateX(-60px);
        &__checked{
        transform: rotate(-360deg);
        }
    }
    p{
        width: 60%;
    }
    h3{
        width: 80%;
    }
}
.cardmenu--delay0{
    animation: cardmenu-appears 1500ms 1 ease-in-out forwards;
}
.cardmenu--delay1{
    animation: cardmenu-appears 1500ms 200ms 1 ease-in-out forwards;   
}
.cardmenu--delay2{
    animation: cardmenu-appears 1500ms 400ms 1 ease-in-out forwards;   
} 
.cardmenu--delay3{
    animation: cardmenu-appears 1500ms 600ms 1 ease-in-out forwards;   
}