//PageMenu

.menucontainer__img{
    width: 100%;
    height: 280px;
    img{
        position: relative;
        width: 100%;
        height: 100%;
        object-fit:cover;
    }
}
.menu{
    position: relative;
    background-color: #F6F6F6;
    margin-top: -45px;
    border-radius: 3rem 3rem 0 0;
    &__title{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        h1{
            font-family: "shrikhand";
            font-size: 28px;
            margin: 35px 0 10px 20px;
            white-space: nowrap;
        } 
    }
}

.submenu{
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    justify-content: space-around;
}
.submenu__title{
    width: 100%;
    color: #404040;
    font-weight: unset;
    margin-left: 20px;
    margin-bottom: 12px;
    text-transform: uppercase;
    position: relative;
    &::after{
        content: "";
        width: 40px;
        height: 3px;
        background-color: $clr-tertiary;
        position: absolute;
        left: 0;
        bottom: -7px;
    }
}
