// Page Loader

// Anim page loader
@keyframes loaderpage{
    0%{
        transform: scale(1);
        opacity: 1;
    }
    90%,100%{
        transform: scale(0);
        opacity: 0;
    }
}

// Anim Welcome page loader
@keyframes welcome{
    0% {
        opacity: 0;
    }
    15% {
        opacity: 0.05;
    }
    35% {
        opacity: 0.1;
    }
    65%{
        opacity: 0.2;
    }
    85%{
        opacity: 0.35;
    }
    100% {
        opacity: 1;
    }
}

// Anim progress bar page loader
@keyframes loader{
    0% {
        transform: scaleX(0);
    }
    17% {
        transform: scaleX(.18);
    }
    24% {
        transform: scaleX(.18);
    }
    46% {
        transform: scaleX(.31);
    }
    100% {
        transform: scaleX(1);
    }
} 

// Animation like heart
@keyframes like{
    0%{
        opacity: 0;
        transform: scale(0);
    }
    50%{
        transform: scale(0.3);
    }
    80%{
        opacity: 0.50;
        transform: scale(1.2);
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }
}

// Animation New
@keyframes new{
    to{
        opacity: 1;
    }
    from{
        opacity: 0;
    }
}
// Menu command check appears
@keyframes cardmenu-appears{
    0%{
        opacity: 0;
        transform: translateY(40px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}
