@mixin shadow {
    box-shadow: 0 0 15px rgb(199, 197, 197);
}

@mixin btn-zoom {
    transform: scale(1.0);
    box-shadow: 0 0 18px rgb(158, 156, 156);
    filter:brightness(1.1);
    cursor: pointer;
}
@mixin txt-hidden {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

@mixin mobile-down{
    @media screen and(min-width:map-get($breakpoints, mobile-down)){
        &{@content;}
    }
}
@mixin desktop{
    @media screen and(min-width:map-get($breakpoints, desktop)){
        &{@content;}
    }
}