@mixin shadow {
    box-shadow:.2rem 0.2rem 1rem rgb(180, 177, 177);
}

@mixin btn-zoom {
    transform: scale(1.02);
    box-shadow:.3rem 0.4rem 2rem rgb(119, 117, 117);
    filter:brightness(1.1);
    cursor: pointer;
}
@mixin txt-hidden {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

@mixin mobile-down{
    @media screen and(min-width:map-get($breakpoints, mobile-down)){
        &{@content;}
    }
}
@mixin desktop{
    @media screen and(min-width:map-get($breakpoints, desktop)){
        &{@content;}
    }
}