// color
$clr-primary:#9356DC;
$clr-secondary:#FF79DA;
$clr-tertiary:#99E2D0;
$clr-text-btn:#fff;
$clr-heart:linear-gradient(to top, #FF79DA,#9356DC);
$clr-btn:linear-gradient(to top,$clr-primary,$clr-secondary);


    
