footer{
    position: relative;
    background-color: #353535;
    color: $clr-text-btn;
    padding-bottom: 10px;
    height: 100%;
    line-height: 1.8em;
    h3{
        font-family: "shrikhand";
        letter-spacing: 0.09rem;
        margin-left: 15px;
    }
    a{
        text-decoration: none;
        color: $clr-text-btn;
        margin:40px 0 0 15px;
    }
    .propose{
        display: flex;
        align-items: center;
        i{
            margin: 0 15px 0 15px;
        }
        p{
            margin: 0;
        }
    }
    .partenaire{
        display: flex;
        align-items: center;
        i{
            margin: 0 13px 0 15px;
        } 
        p{
            margin: 0;
        }
    }
    p{
        margin: 0px 0 0px 15px;
    }
}
// validator css

.validator{
    position: absolute;
    bottom: 20px;
    right: 20px;
}